.todo-footer {
  font-size: 14px;
  display: grid;
  column-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  background: white;
  padding: 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  &__items {
    color: hsl(233, 11%, 84%);
  }

  &__clear {
    text-align: right;
    color: hsl(233, 11%, 84%);
    cursor: pointer;

    &:hover {
      color: hsl(236, 9%, 61%);
    }
  }

  &__filters {

    &--desktop {
      display: flex;
      justify-content: space-between;
    }

    &--mobile {
      display: none;
    }

    &--item {
      cursor: pointer;
      color: hsl(236, 9%, 61%);

      &:hover {
        color: hsl(235, 19%, 35%);
      }

      &.active {
        color: hsl(220, 98%, 61%);
      }
    }
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr 1fr;

    &__filters {
      &--desktop {
        display: none;
      }

      &--mobile {
        display: flex;
        justify-content: center;
        padding: 12px;
        border-radius: 8px;
        margin-top: 16px;
        background: white;
      }

      &--item {
        padding: 8px;
      }
    }
  }
}
