.todo-header {
  margin: 0 auto;

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  &__title {
    color: white;
    letter-spacing: 18px;
  }

  &__input {
    width: 100%;
  }
}

::ng-deep .mat-mdc-form-field-infix {
  display: flex !important;
  align-items: center !important;
}

::ng-deep .mat-mdc-text-field-wrapper {
  border-radius: 6px !important;
}






